@keyframes pulseGreen {
  0% {
    transform: scale(1);
    color: green;
  }
  50% {
    transform: scale(1.1);
    color: lightgreen;
  }
  100% {
    transform: scale(1);
    color: green;
  }
}

@keyframes pulseRed {
  0% {
    transform: scale(1);
    color: red;
  }
  50% {
    transform: scale(1.1);
    color: lightcoral;
  }
  100% {
    transform: scale(1);
    color: red;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes slowFadeOut {
  0% {
    opacity: 100%;
  }
  30% {
    opacity: 90%
  }
  50% {
    opacity: 70%;
  }
  100% {
    opacity: 30%;
  }
}

.userEntry {
  display: grid;
  text-wrap: nowrap;
  display: contents;
}

.pulseGreen {
  animation: pulseGreen 1s ease-in-out;
}

.pulseRed {
  animation: pulseRed 1s ease-in-out;
}

.fade {
  animation: fadeOut 1s ease-out;
}

.slowFade {
  animation: fadeOut 2.2s ease-out;
}

.questionDiv {
  width: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--main-gray-color);
  border-radius:15px;
  border: var(--default-border);
}
.questionDiv > * {
  margin-top: 5px;
}
.mpMainDiv {
  display: grid;
  grid-template-columns: 1fr min-content; /* 1fr for the left side, auto for the score */
  grid-template-rows: auto 1fr; /* auto for the name row, 1fr for the content row */
  grid-template-areas:
    "name score"
    "content score"; /* The score area spans across both rows */
  padding-right: 3%;
  padding-left: 3%;
  width: 100%;
}

.username {
  grid-column: 1; /* Place the username in the first column */
  text-align: left; /* Align text to the left (default) */
}

.score {
  grid-column: 2; /* Place the score in the second column */
  text-align: right; /* Align text to the right */
}

.mpMainDiv > p {
  grid-area: name;
}

.questionScoreDiv {
  grid-area: content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
margin-right: auto;
}
.startGameButton {
  grid-area: content;

  width: 25%;
  align-self: center;
  margin: auto;
}
.mpScoreDiv {
  padding: 10%;

  background: aliceblue;
  grid-area: score;
  height: 80vh;
  margin-top: 30%;
  width: min-content;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px; 
  grid-auto-rows: minmax(min-content, min-content);
  border-radius: 15px;
  border: var(--default-border);
}

.categoryChoice {
  width: 200px;
  height: 200px;
  background-color: var(--main-light-gray);
  text-align: center;
  align-content: center;
  border-radius: 15px;
  border: var(--default-border);
  user-select: none;
  grid-area: content;

}
.categoryChoice:hover {
  background-color: var(--main-gray-color);
}
.categoryChoicesDiv {
  display: grid;
  margin: auto;
  margin-top: 0px;
  grid-area:content;
  grid-template-areas: "title title title" "content content content";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
}
.categoryChoicesDiv > * {
  margin: 1%;
}
.inactive > * > *{
  background-color: rgba(163, 163, 163, 0.726);
  color: rgba(61, 61, 61, 0.63);
  border: 1px solid rgba(44, 44, 44, 0.548);
}
.inactive > *> *:hover {
  background-color: rgba(163, 163, 163, 0.726);
}
.roomTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoryChoicesDivTitle
{
  grid-area:title;
  text-align: center;
}
.inactive {
  grid-area:content;

}
.timerProgressBarContainer
{
  width: 75%;
  align-items: baseline;
  margin-top: 1%;
  background-color: white;
  border-radius: 15px;
  border: var(--default-border);
  display: inline-flex;


}
.timerProgressBarBar {
  width: 100%;
  height: 20px;
  border-radius: 15px;
  background: red;
}
.timerText
{
  position: fixed;
  margin-left:25%;
  font-weight: 700;
}