/* Add these to your CSS file */

@keyframes pulseGreen {
    0% {
      transform: scale(1);
      color: green;
    }
    50% {
      transform: scale(1.1);
      color: lightgreen;
    }
    100% {
      transform: scale(1);
      color: green;
    }
  }
  
  @keyframes pulseRed {
    0% {
      transform: scale(1);
      color: red;
    }
    50% {
      transform: scale(1.1);
      color: lightcoral;
    }
    100% {
      transform: scale(1);
      color: red;
    }
  }
  
  .userEntry {
    /* Other styles */
    transition: color 1s, transform 1s; /* Ensure smooth transitions */
  }
  
  .pulseGreen {
    animation: pulseGreen 1s ease-in-out;
  }
  
  .pulseRed {
    animation: pulseRed 1s ease-in-out;
  }
  
.questionDiv {
    margin-left: 30%;
    width: 30%;
}
.mpMainDiv
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timerProgressBar
{
    width: 75%;
    height: 20px;
    border-radius: 15px;
    border: 0;
}

.questionScoreDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.startGameButton
{
    width: 25%;

}
.mpScoreDiv
{
    margin-right:5%;
    background-color: aliceblue;
    width: 10%;
}
.userEntry
{
    display: flex;
    flex-direction: row;

}
.userEntry > * 
{
    padding: 0.1%;
    margin-top: 5%;
}

.categoryChoice 
{
  width: 200px;
  height: 200px;
  background-color: aliceblue;
  text-align: center;
  align-content: center;
  border-radius: 15px;
  border: 1px solid black;
  user-select: none;
}
.categoryChoice:hover{
  background-color: rebeccapurple;

}
.categoryChoicesDiv
{
  display: flex;
  margin: auto;
  flex-direction: row;

}
.categoryChoicesDiv > * 
{
  margin: 1%;

}
.inactive > *{
  background-color: rgba(163, 163, 163, 0.726);
  color: rgba(61, 61, 61, 0.63);
  border: 1px solid rgba(44, 44, 44, 0.548);
}
.inactive > *:hover{
  background-color: rgba(163, 163, 163, 0.726);
}