/* Add these to your CSS file */

@keyframes pulseGreen {
    0% {
      transform: scale(1);
      color: green;
    }
    50% {
      transform: scale(1.1);
      color: lightgreen;
    }
    100% {
      transform: scale(1);
      color: green;
    }
  }
  
  @keyframes pulseRed {
    0% {
      transform: scale(1);
      color: red;
    }
    50% {
      transform: scale(1.1);
      color: lightcoral;
    }
    100% {
      transform: scale(1);
      color: red;
    }
  }
  
  .userEntry {
    /* Other styles */
    transition: color 1s, transform 1s; /* Ensure smooth transitions */
  }
  
  .pulseGreen {
    animation: pulseGreen 1s ease-in-out;
  }
  
  .pulseRed {
    animation: pulseRed 1s ease-in-out;
  }
  
.questionDiv {
    margin-left: 30%;
    width: 30%;
}
.mpMainDiv
{
    display: flex;
    flex-direction: column;
}
.timerProgressBar
{
    width: 75%;
    height: 20px;
    border-radius: 15px;
    border: 0;
}

.questionScoreDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.startGameButton
{
    width: 25%;

}
.mpScoreDiv
{
    margin-right:5%;
    background-color: aliceblue;
    width: 10%;
}
.userEntry
{
    display: flex;
    flex-direction: row;

}
.userEntry > * 
{
    padding: 0.1%;
    margin-top: 5%;
}