#categoriesDiv
{
  margin-top: 3%;
  align-items:flex-start;
  margin-left: 1%;
  width: 1%;
  padding-right: 40px;
}
.questionBody > * {
  margin-bottom: 10px; /* Adjust the spacing as per your design */
}
.mainBody
{
  display: flex;
  flex-direction:row; /* Ensures vertical stacking */
  width: 100%;
  justify-content: space-between;
}
.radioButtonLabels
{
  display: flex;
    max-width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
}
.radioButtonLabels > input
{
  margin-right:5px;
  margin-left: 5px;
}
.checkboxLabels
{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border: 1px solid black;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  font-size: larger;
  align-items: center;
  background-color: rgb(218, 211, 211);
}

.iconCompDiv > .icon-container > .icon-image {
  min-height: 25px;
  max-height: 25px;
  width: auto;
  height: auto;
}

.icon-image {
  min-height: 25px;
  max-height: 25px;
  width: auto;
  height: auto;
}

.topLineCheckbox
{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.catCountDiv
{
  font-size: 12px;
}
#scoreCatPanel
{
  display: flex;
  flex-direction: row;
}
.iconScoreDiv
{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
}
.iconCompDiv
{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.offcanvas.show:not(.hiding), .offcanvas.showing
{
  width: 25%;
}
.scoreDiv{
  background-color: wheat;
  background-image: url('../../images/textureTest.png');

  margin-top: 3%;
  padding:20px;
  border-radius: 15px;
  height:70%;
  border:1px solid black;
}
#scorePanelTitle
{
  font-weight: bold;
  text-align: center;
}
.questionBody {
  display: flex;
  flex-direction: column; /* Ensures vertical stacking */
  margin-left: 5%;
  margin-top: 3%;
  height: 70%; 
  min-height: fit-content;
  font-size: 18px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  background-image: url('../../images/cardBG.png');
  background-repeat: no-repeat;
  background-size: auto;
  width: 50%;
  overflow:auto;
}