@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1s ease-in-out;
}


.correct {
    background-color: lightgreen;
    border-radius: 15px;
    width: 100%;
  }
  
.incorrect {
  background-color: red;
  border-radius: 15px;
  width: 100%;
  transition: scale 5s;
}
  
.neutral {
  background-color: #d8e8f3e5;
  border-radius: 15px;
  width: 100%;
}
.submitNextButton {
  width: 400px;
  height: 50px;
  background-color: #6b6b6be5;
  border-radius: 50px;
  border: 1px solid black; /* Combined border style */
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.questionBody {
  display: flex;
  flex-direction: column; /* Ensures vertical stacking */
  margin-left: 5%;
  margin-top: 3%;
  height: 70%; 
  min-height: fit-content;
  font-size: 18px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  background-color: rgb(224, 250, 255);
  width: 50%;
  overflow:auto;
}
.questionBody > * {
  margin-bottom: 10px; /* Adjust the spacing as per your design */
}
#radioButtonsDiv {
  align-items: flex-start;
  font-size: 18px;
  max-width: 75%;
  width: 75%;
}
#radioButtonsDiv > * {
  margin-bottom: 5px;
}
#categoriesDiv
{
  margin-top: 3%;
  align-items:flex-start;
  margin-left: 1%;
  width: 1%;
  padding-right: 40px;
}
.questionText
{
  max-width: 75%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  background-color: #d8e8f3e5;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
#mainBody
{
  display: flex;
  flex-direction:row; /* Ensures vertical stacking */
  width: 100%;
  justify-content: space-between;
}
.radioButtonLabels
{
  display: flex;
    max-width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
}
.radioButtonLabels > input
{
  margin-right:5px;
  margin-left: 5px;
}
.checkboxLabels
{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border: 1px solid black;
  padding: 3px;
  margin: 4px;
  border-radius: 5px;
  font-size: larger;
  align-items: center;
  background-color: rgb(218, 211, 211);
}
.icon-container {
  display: inline-flex; 
  margin-left: 5px;
  align-items: center;
  flex-direction: column;
}
#tagIcons > .tagIcon > .icon-container > .icon-image {
  min-height: 25px;
  max-height: 25px;
  width: auto;
  height: auto;
}

.iconCompDiv > .icon-container > .icon-image {
  min-height: 25px;
  max-height: 25px;
  width: auto;
  height: auto;
}

.icon-image {
  min-height: 25px;
  max-height: 25px;
  width: auto;
  height: auto;
}
#tagIcons {
  display: inline-flex;
  flex-direction: row;
  align-items:center;
}
.tagIcon {
  display:flex;
  align-items: flex-end;
}
.topLineCheckbox
{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.catCountDiv
{
  font-size: 12px;
}
#scoreCatPanel
{
  display: flex;
  flex-direction: row;
}
.iconScoreDiv
{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
}
.iconCompDiv
{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.offcanvas.show:not(.hiding), .offcanvas.showing
{
  width: 25%;
}
.scoreDiv{
  background-color: wheat;
  margin-top: 3%;
  padding:20px;
  border-radius: 15px;
  height:70%;
}
#scorePanelTitle
{
  font-weight: bold;
  text-align: center;
}