.gameModeButtonsContainer {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    width: 17%;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
}
.gameModeButton {
    background-color: var(--main-gray-color);
    height: 50%;
    width: 50%;
    min-width: 50%;
    min-height: 50%;
    text-wrap: auto;
    border: var(--default-border);
    font-size: larger;
}
.gameModeButton:hover {
    background-color: var(--main-light-gray);
    transform: scale(1.05,1.05);
}

.gmbTopLeft {
    border-radius: 15px 0px 0px 0px;
}
.gmbTopRight {
    border-radius: 0px 15px 0px 0px;
}
.gmbBottomRight {
    border-radius: 0px 0px 15px 0px;
}
.gmbBottomLeft  {
    border-radius: 0px 0px 0px 15px;
}