

.gameModeButtonsContainer {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    display: grid;
    grid-auto-flow: row;
    border-radius: 15px;
    border: var(--default-border);
    overflow:scroll;
    min-width: min-content;
    min-height: min-content;
    max-width: 100vw;
    max-height: calc(100vh - 20px);
    width: fit-content;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), min-content);
    margin-top:22px;

}
.gameModeButton {
    background-color: var(--main-gray-color);

    text-wrap: auto;
    border: var(--default-border);
    font-size: larger;
    width:100%;
    height:100%;

    aspect-ratio: 1;
    min-width: min-content;
    min-height: min-content;

}

.gameModeButton:hover {
    background-color: var(--main-light-gray);
    overflow: visible;
}

.gmbTopLeft {
    border-radius: 15px 0px 0px 0px;
}
.gmbTopRight {
    border-radius: 0px 15px 0px 0px;
}
.gmbBottomRight {
    border-radius: 0px 0px 15px 0px;
}
.gmbBottomLeft  {
    border-radius: 0px 0px 0px 15px;
}



@media (max-width: 600px) {
    .gameModeButtonsContainer {
        min-width: 100vw;
        min-height: calc(100vh - 20px);
        max-width: 100vw;
        max-height: calc(100vh - 20px);
        width: 100vw;
        
        height: calc(100vh - 20px);
        display: grid;
        top: unset;
        left: unset;
        position: unset;
        transform: unset;
        grid-template-columns: repeat(var(--grid-columns), 1fr);
        grid-template-rows: unset;
        grid-auto-flow: row;

        
    }
    .gameModeButton
    {
        min-height: unset;
        min-width: 0;
        height: 100%;
        width: 100%;
    }
}