/* CSS Module file */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.radioButtonLabels {
  display: flex;
  max-width: 100%;
  border: var(--default-border);
  border-radius: 15px;
  padding: 5px;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: red;
}

.neutral {
  background-color: #d8e8f3e5;
}

/* Pulse animation */
.pulse {
  animation: pulse 1s ease-in-out;
}

.icon-container {
  display: inline-flex;
  margin-left: 5px;
  align-items: center;
  flex-direction: column;
}

.tagIcons > .tagIcon > .icon-container > .icon-image {
  min-height: 25px;
  max-height: 25px;
  width: auto;
  height: auto;
}

.questionText {
  max-width: 75%;
  border: var(--default-border);
  border-radius: 10px;
  padding: 15px;
  background-color: var(--main-light-gray);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top:10px
}

.submitNextButton {
  width: 30%;
  min-width: fit-content;
  min-height: fit-content;
  background-color:var(--main-light-gray);
  border-radius: 15px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border: var(--default-border);
  padding: 5px;
  height: fit-content;

}
.submitNextButton:disabled {
  background-color:var(--main-gray-color);
  color: gray


}

.radioButtonsDiv {
  align-items: flex-start;
  font-size: 18px;
  max-width: 75%;
  width: 75%;
}

.radioButtonsDiv > * {
  margin-bottom: 5px;
}

.tagIcons {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.tagIcon {
  display: flex;
  align-items: flex-end;
}

.radioButtonLabels > input {
  margin-right: 5px;
  margin-left: 5px;
}
.rankOption {
  border-radius: 15px;
  width: 200px;
  background-color: var(--main-light-gray);
  margin-top: 2px;
  padding: 8px;
}
.rankListItem
{
  border-radius: 15px;
  padding: 6px;
  margin:2px;
  border: var(--default-border)
}
.rankQuestionMain
{
  display: grid;
  grid-template-areas: "question correctKey";
  grid-template-rows: 1fr auto;
}
.connectQuestionMain
{

  border-radius: 15px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-light-gray);
  justify-content: center;
  gap: 100px;
  border: var(--default-border);
  padding: 20px;

}
.choicesDiv{
  display: flex;
  flex-direction: column;
  gap: 5px;

}
.connectChoice
{
  padding: 15px;
  background-color: var(--main-gray-color);
  border-radius: 15px;
  border: var(--default-border)
}
.lastSelected {
  background-color: blueviolet;

}


.svgContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allows clicks to pass through to underlying elements */
}


@media (max-width: 600px) {
    .questionText{
      width: 95%;
      max-width: 95%;
    }
    .radioButtonsDiv{
      width: 95%;
      max-width: 95%;
    }
}
