:root {
  --main-gray-color: rgb(221, 226, 231);
  --main-light-gray: #ffffff;
  --default-border: 2px solid  rgba(0, 0, 0, 0.2);
  --main-dark-gray: rgb(189, 189, 189);
  --main-red-color: #ff7070;
  --main-green-color: rgb(80, 215, 80);

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #979797;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
