.mainbody {
  background-color: rgb(238, 116, 116);
  display: grid;
  text-wrap: nowrap;
  grid-template-areas: 

  "title title";
  grid-auto-rows: minmax(min-content, min-content);
  grid-template-columns: 2fr 1fr;
  border-radius: 15px;
  border: 2px solid rgb(245, 133, 133);
  grid-area:historyPanel;
  width: max-content;
}
.dateScoreText {
  display:flex;
  font-weight: bold;
}
.scoreEntry {
  display: contents;
  border-top: 1px solid black;
}
.entryScoreDiv {
  justify-content: center;
  display: flex;
  grid-column: 2;

}
.entryDateDiv
{
  justify-content: center;
  display: flex;
  grid-column: 1;


}

.yourHistoryTitle {
  align-self: center;
  font-weight: bold;
  margin:0;
  justify-content: center;
  display: flex;
  grid-column: 1 / 3;
}