.mainbody {
  background-color: rgb(238, 116, 116);
  display: flex;
  text-wrap: nowrap;
  flex-direction: column;
  padding: 2%;
  padding-top: 0.1%;
   margin: 2%;
  border-radius: 15px;
  height: 70%;
}

.topText {
  display:flex;
  flex-direction: column;
}
.dateScoreText {
  display:flex;
  font-weight: bold;
}
.scoreEntry {
  display:flex;
  border-top: 1px solid black;
}
.entryScoreDiv {
  justify-content: center;
  display: flex;
  width: 33%
}
.entryDateDiv
{
  justify-content: center;
  display: flex;
  width: 66%;
  margin-right: 10%;
}

.yourHistoryTitle {
  align-self: center;
  font-weight: bold;
}