.headerPanel {
    display: flex;
    justify-content: space-between;
    background-color: #d5d5d5;    
    border-bottom: 1px solid black;
}

.usernameDiv {
    border-left: 1px solid black;
    display: inline-flex;
    align-items: center;
    background-color: rgb(160, 179, 179);
    padding: 0px 10px 0px 10px;

}
.usernameDiv:hover {
    background-color: aliceblue;
    cursor: pointer;
}
.logoutButton, .loginButton {
    border-left: 1px solid black;
    display: inline-flex;
    align-items: center;
    background-color: rgb(160, 179, 179);
    padding: 0px 10px 0px 10px;

}
.logoutButton:hover, .loginButton:hover {
    background-color: aliceblue;
    cursor: pointer;
}
.homeButton {
    border-right: 1px solid black;
    display: inline-flex;
    align-items: center;
    background-color: rgb(160, 179, 179);
    padding: 0px 10px 0px 10px;

}
.homeButton:hover {
    background-color: aliceblue;
    cursor: pointer;
}